*{
    box-sizing: border-box;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    margin-top: 3rem;
}

.container{
    max-width: none;
    margin: 80px;
}

#titleContainer > div > div:nth-child(3) button{
    width: 40px;
    display: inline-block;
}

#matrix input{
    width: 50px;
    padding: .5rem;
    margin: .3rem;
}

#result > p:first-child{
    font-size: 2rem;
}

#result > p:not(:first-child){
    font-size: 1.6rem;
}

.matrixRow{
    display: inline-flex; 
}

